@{
    ViewBag.Title = "How to contact us ";
}
<h2>@ViewBag.Title.</h2>


<address>

</address>

<address>
    <strong>Support:</strong>   <a href="mailto:martinshishkov7@gmail.com">martinshishkov7@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:martinshishkov7@gmail.com">martinshishkov7@gmail.com</a>
</address>